<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/peach.png" type="image/x-icon">
  <title>Asstime v0.01</title>
  <style>
    #video-container{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    video{
      border-radius: 5px;
      margin: 15px;
      width: 600px;
      height: 400px;
      object-fit: cover;
      transform: scaleX(-1);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    h2{
      margin-left: 20px;
    }
  </style>
</head>
<body>
  <h2>Asstime v0.01 🍑</h2>
  <div id="video-container">
    
  </div>
    <script>
    ROOM_ID = '<%= roomID %>'
  </script>
<script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="app.js"></script>
</body>
</html>
