<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="assets/peach.png" type="image/x-icon">
  <title>asstime v0.0.5</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h3>🍑 asstime v0.0.5</h3>
  <div id="video-container">
    <div class="localVideo">
      <video class="localVideoPlayer" autoplay playsinline muted></video>
    </div>
  </div>
  <div class="controls">
    <i class="fa-solid fa-microphone active"></i>
    <p>mic</p>
    <i class="fa-solid fa-video active"></i>
    <p>video</p>
    <!-- <i class="fa-solid fa-tv"></i>
    <p>screen</p> -->
    <i class="fa-solid fa-arrow-right-from-bracket"></i>
    <p>leave</p>

  </div>
  <script>
    const roomId = '<%=roomId%>'
    const displayName = "Not yet"
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/app.js"></script>

</body>
</html>
